<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sample {{sample_ID}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [hidden]="!notready" align="left" id="loading-spinner"><ion-spinner></ion-spinner></div>
  <div [hidden]="notready">
    <form [formGroup]="sampleForm" *ngIf="active" (ngSubmit)="onSubmit(sampleForm.value)">
      <ion-grid id="header" formGroupName="sampleHeaderControls">
        <ion-row>
          <ion-col width-50>
            <ion-label>Site Name</ion-label>
            <ion-item>
              <ion-select class="select-wide" formControlName="siteName" (ionChange)="siteNameChange(sName.text)" #sName>
                <ion-option *ngFor="let site of mySites" [value]="site.id" [selected]="site.id == mySample.siteNumber">{{site.name}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col width-50>
            <ion-label>Site Number</ion-label>
            <ion-item>
              <ion-select class="select-wide" formControlName="siteNumber" (ionChange)="siteNumberChange(sName.text)" #sNumber>
                <ion-option *ngFor="let site of mySites" [value]="site.id" [selected]="site.id == mySample.siteNumber">{{site.usgs_scode}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-50>
            <ion-label>Project Name</ion-label>
            <ion-item>
              <ion-select class="select-wide" formControlName="projectName" (ionChange)="projectNameChange(pName.text)" #pName>
                <ion-option *ngFor="let project of myProjects" [value]="project.id" [selected]="project.id == mySample.projectNumber">{{project.name}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col width-50>
            <ion-label>Project Number</ion-label>
            <ion-item>
              <ion-select class="select-wide" formControlName="projectNumber" (ionChange)="projectNumberChange(pNumber.text)" #pNumber>
                <ion-option *ngFor="let project of myProjects" [value]="project.id" [selected]="project.id == mySample.projectNumber">{{project.id}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-50>
            <ion-label>Date</ion-label>
            <ion-item><ion-input type="date" formControlName="sampleDate"></ion-input></ion-item>
          </ion-col>
          <ion-col width-50>
            <ion-label>Time</ion-label>
            <ion-item><ion-input type="time" formControlName="sampleTime"></ion-input></ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-50>
            <ion-label>Depth</ion-label>
            <ion-item><ion-input type="number" formControlName="sampleDepth"></ion-input></ion-item>
          </ion-col>
          <ion-col width-50>
            <ion-label>Rep</ion-label>
            <ion-item><ion-input type="number" formControlName="sampleRep"></ion-input></ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-50>
            <ion-label>Medium</ion-label>
            <ion-item>
              <ion-select class="select-wide" formControlName="sampleMedium">
                <ion-option *ngFor="let medium of myMediums" [value]="medium.id" [selected]="medium.id == mySample.medium">{{medium.nwis_code}} - {{medium.description}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col width-50>
            <ion-label>Acid</ion-label>
            <ion-item><ion-input type="string" formControlName="sampleAcid" (click)="openAcidSelect()"></ion-input></ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid id="body" formGroupName="sampleBottleControls">
        <ion-row>
          <ion-col width-50>Container</ion-col>
          <ion-col width-33><div style="padding: 10px;"><button ion-button type="button" style="float: right;" (click)="addRow()"><ion-icon name="add-circle"></ion-icon></button></div></ion-col>
        </ion-row>
        <ion-row *ngFor="let sampleBottleControlsRow of sampleBottleControls.controls; let ndx = index" [formGroup]="sampleBottleControlsRow" style="border-style: solid;">{{ndx + 1}}
          <ion-col width-50>
            <ion-item><ion-input type="string" formControlName="bottle" (click)="openBottleSelect(ndx)"></ion-input></ion-item>
          </ion-col>
          <ion-col width-25><div style="padding: 10px;"><button ion-button type="button" style="float: right;" (click)="editSampleBottle(ndx)"><ion-icon name="list"></ion-icon></button></div></ion-col>
          <ion-col width-25><div style="padding: 10px;"><button ion-button type="button" style="float: right;" (click)="removeRow(sampleBottleControlsRow)"><ion-icon name="remove-circle"></ion-icon></button></div></ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid id="comments" formGroupName="sampleCommentControls">
        <ion-row>
          <ion-col>
            <ion-label>Comments</ion-label>
            <ion-item><ion-input type="text" formControlName="sampleComment"></ion-input></ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div><button ion-button type="submit">Submit</button></div>
    </form>
  </div>
</ion-content>
