<ion-header>
  <ion-navbar>
    <button ion-button large menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sample {{sample_ID}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="notready" align="left" id="loading-spinner">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="!notready">
    <form (keydown.enter)="$event.preventDefault()" [formGroup]="sampleForm" *ngIf="active" (ngSubmit)="onSubmit(sampleForm.value)">
      <ion-grid id="header" formGroupName="sampleHeaderControls">
        <ion-row>
          <ion-col col-12>
            <ion-item style="float:right;">
              <ion-label> Use data entry widgets</ion-label>
              <ion-toggle (ionChange)="toggleUseWidgets()" [checked]=useWidgets></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="sampleFormRow">
          <ion-col col-6>
            <ion-label>Project Name</ion-label>
            <ion-item *ngIf="useWidgets">
              <ion-select class="full-width-select" formControlName="projectName" (ionChange)="projectNameChange(pName.text)" #pName>
                <ion-option *ngFor="let project of myProjects" [value]="project.name" [selected]="project.name == mySample.projectName">{{project.name}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="!useWidgets">
              <ion-input type="text" formControlName="projectName" [value]="mySample.projectName" (ionBlur)="projectNameChange(pName.value)" #pName></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-label>Project Number</ion-label>
            <ion-item *ngIf="useWidgets">
              <ion-select  class="full-width-select" formControlName="projectNumber" (ionChange)="projectNumberChange(pNumber.text)" #pNumber>
                <ion-option *ngFor="let project of myProjects" [value]="project.id" [selected]="project.id == mySample.projectNumber">{{project.id}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="!useWidgets">
              <ion-input type="text" formControlName="projectNumber" [value]="mySample.projectNumber" (ionBlur)="projectNumberChange(pNumber.value)" #pNumber></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="sampleFormRow">
          <ion-col col-6>
            <ion-label>Site Name</ion-label>
            <ion-item *ngIf="useWidgets">
              <ion-select class="full-width-select" formControlName="siteName" (ionChange)="siteNameChange(sName.text)" #sName>
                <ion-option *ngFor="let site of mySites" [value]="site.name" [selected]="site.id == mySample.siteNumber">{{site.name}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="!useWidgets">
              <ion-input type="text" formControlName="siteName" [value]="mySample.siteName" (ionBlur)="siteNameChange(sName.value)" #sName></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-label>Site Number</ion-label>
            <ion-item *ngIf="useWidgets">
              <ion-select class="full-width-select" formControlName="siteNumber" (ionChange)="siteNumberChange(sName.text)" #sNumber>
                <ion-option *ngFor="let site of mySites" [value]="site.id" [selected]="site.id == mySample.siteNumber">{{site.id}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="!useWidgets">
              <ion-input type="text" formControlName="siteNumber" [value]="mySample.siteNumber" (ionBlur)="siteNumberChange(sNumber.value)" #sNumber></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="sampleFormRow">
          <ion-col col-6>
            <ion-label>Date</ion-label>
            <ion-item *ngIf="useWidgets">
              <ion-input type="string" formControlName="sampleDate" (click)="openDateSelect()"></ion-input>
            </ion-item>
            <!-- <ion-item *ngIf="useWidgets"><ion-input type="text" [value]="mySample.date | date:'MM/dd/y'" formControlName="sampleDate"></ion-input></ion-item> -->
            <ion-item *ngIf="!useWidgets">
              <ion-input type="text" formControlName="sampleDate"></ion-input>
            </ion-item>
            <!-- <ion-item *ngIf="!useWidgets"><ion-input type="text" pattern="^(0?[1-9]|1[0-2])\/(0?[1-9]|[12][0-9]|3[01])\/\d\d\d\d$" formControlName="sampleDate"></ion-input></ion-item> -->
          </ion-col>
          <ion-col col-6>
            <ion-label>Time</ion-label>
            <ion-item>
              <ion-input type="text" pattern="^(00|0[0-9]|1[0-9]|2[0-3])([0-5][0-9])$" formControlName="sampleTime"></ion-input>
            </ion-item>
            <!--
            <ion-label>Time</ion-label>
            <ion-item>                
                <ion-datetime type="text" displayFormat="hh:mm:ss" formControlName="sampleTime"></ion-datetime>
            </ion-item>-->
          </ion-col>
        </ion-row>
        <ion-row class="sampleFormRow">
          <ion-col col-6>
            <ion-label>Depth</ion-label>
            <ion-item>
              <ion-input type="text" pattern="^[0-9]*\.?[0-9]+$" formControlName="sampleDepth"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-label>Rep</ion-label>
            <ion-item>
              <ion-input type="text" pattern="^[0-9]*$" formControlName="sampleRep"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="sampleFormRow">
          <ion-col col-4>
            <ion-label>Medium</ion-label>
            <ion-item *ngIf="useWidgets">
              <ion-select class="full-width-select" formControlName="sampleMedium" (ionChange)="mediumChange(mName.text.split(' - ')[0])" #mName>
                <ion-option *ngFor="let medium of myMediums" [value]="medium.id">{{medium.nwis_code}} - {{medium.description}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="!useWidgets">
              <ion-input type="text" formControlName="sampleMedium" [value]="mySample.mediumName" (ionBlur)="mediumChange(mName.value)" #mName></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-label>Acid</ion-label>
            <ion-item *ngIf="!acidReady">
              <ion-spinner></ion-spinner>
            </ion-item>
            <ion-item *ngIf="acidReady && useWidgets">
              <ion-input type="string" formControlName="sampleAcid" (click)="openAcidSelect()"></ion-input>
            </ion-item>
            <ion-item *ngIf="acidReady && !useWidgets">
              <ion-input type="text" formControlName="sampleAcid" (ionBlur)="acidNameChange(aName.value)" #aName></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-4>
              <ion-label>Filter</ion-label>
              <ion-item *ngIf="!filterReady">
                <ion-spinner></ion-spinner>
              </ion-item>
              <ion-item *ngIf="filterReady && useWidgets">                  
                <ion-select formControlName="sampleFilter" class="full-width-select" (ionChange)="filterNameChange(fName.text, 'sampleFilter select widget')" #fName>
                  <ion-option *ngFor="let filter of myFilters" [value]="filter.id" [selected]="filter.id == selectedFilterID">{{filter.filter}}</ion-option>
                </ion-select>                    
              </ion-item>
              <ion-item *ngIf="filterReady && !useWidgets">
                <ion-input type="text" formControlName="sampleFilter" [value]="selectedFilterName" (ionBlur)="filterNameChange(fName.value, 'sampleFilter text')" #fName></ion-input>
              </ion-item>
            </ion-col>
        </ion-row>
      </ion-grid>

      <!-- start Bottles -->
      <ion-grid id="body" formGroupName="sampleBottleControls">
        <ion-row>
          <ion-col col-8>
            <h3>Containers</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>
            <ion-item style="float:right;">
              <ion-label>Lookup Container IDs</ion-label>
              <ion-toggle (ionChange)="toggleLookupContainers()"></ion-toggle>
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <button style="float:right;" ion-button medium type="button" (click)="addRow()">
              <ion-icon name="add-circle"></ion-icon> &nbsp;Add Container</button>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top:10px;">
          <ion-col col-2 class="text-center" text-center>Container</ion-col>          
          <ion-col col-2 class="text-center" text-center>Analysis</ion-col>          
          <ion-col col-1 class="text-center" text-center>Filter Volume</ion-col>
          <ion-col col-3 class="text-center" text-center>Preservation</ion-col>
          <ion-col col-1 class="text-center" text-center>Acid Volume</ion-col>
          <ion-col col-2 class="text-center" text-center>Preservation Comment</ion-col>   
          <ion-col col-1></ion-col>          
        </ion-row>

        <ion-row *ngFor="let sampleBottleControlsRow of sampleBottleControls.controls; let ndx = index" [formGroup]="sampleBottleControlsRow">
          
          <ion-col col-2>
            <ion-item *ngIf="lookupContainers">
                <ion-input type="string" formControlName="bottle" (click)="openBottleSelect(ndx)" class="full-width-select"></ion-input>
              </ion-item>
              <ion-item *ngIf="!lookupContainers">
                <ion-input type="string" (ionBlur)="addNewBottle($event, ndx);" formControlName="bottle" [value]="sampleBottleControls.controls[ndx].controls['bottle'].value" class="full-width-select"></ion-input>
              </ion-item>
          </ion-col>          
          <ion-col col-2>
              <ion-item *ngIf="!analysisReady">
                  <ion-spinner></ion-spinner>
                </ion-item>
            <ion-item *ngIf="analysisReady && useWidgets">
              <ion-select formControlName="analysis" class="full-width-select"(ionChange)="analysisChange(anName.text, ndx)" #anName>
                <ion-option *ngFor="let analysis of myAnalyses" [value]="analysis.id" [selected]="analysis.id == sampleBottleControls.controls[ndx].controls['analysis'].value">{{analysis.analysis}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="analysisReady && !useWidgets">
              <ion-input type="string" formControlName="analysis" [value]="sampleBottleControls.controls[ndx].controls['analysisName'].value" class="full-width-select" (ionBlur)="analysisChange(anName.value, ndx)" #anName></ion-input>
            </ion-item>
          </ion-col>          
          <ion-col col-1>
            <ion-item>
              <ion-input type="number" formControlName="filterVolume" class="full-width-select"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-3>
              <ion-item *ngIf="!preservationReady">
                  <ion-spinner></ion-spinner>
                </ion-item>
            <ion-item *ngIf="preservationReady && useWidgets">
              <ion-select formControlName="preservationType" class="full-width-select" (ionChange)="preservationChange(prName.text, ndx)" #prName>
                <ion-option *ngFor="let preservation of myPreservations" [value]="preservation.id"  [selected]="preservation.id == sampleBottleControls.controls[ndx].controls['preservationType'].value">{{preservation.preservation}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="preservationReady && !useWidgets">
              <ion-input type="string" formControlName="preservationType" [value]="sampleBottleControls.controls[ndx].controls['preservationTypeName'].value" class="full-width-select" (ionBlur)="preservationChange(prName.value, ndx)" #prName></ion-input>
            </ion-item>
          </ion-col>          
          <ion-col col-1>
            <ion-item>
              <ion-input type="number" formControlName="preservationVolume" class="full-width-select"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-2>
            <ion-item>
              <ion-input type="string" formControlName="preservationComment" class="full-width-select"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-1>
              <button ion-button color="danger" small type="button" (click)="removeRow(sampleBottleControlsRow)" style="float:right">
                <ion-icon name="remove-circle"></ion-icon>
              </button>
          </ion-col>          
        </ion-row>
      </ion-grid>
      <!-- end Bottles -->

      <ion-grid id="comments" formGroupName="sampleCommentControls">
        <ion-row>
          <ion-col>
            <ion-label>Comments</ion-label>
            <ion-item>
              <ion-input type="text" formControlName="sampleComment"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div>
        <!-- <p>Form value: {{ sampleForm.value | json }}</p> -->
        <!-- <p>Form status: {{ sampleForm.status | json }}</p> -->
        <!-- <button ion-button block large color="secondary" type="submit">Save</button> -->
        <button ion-button block large type="submit" [disabled]="!sampleForm.valid">Save</button>
        <!--<button ion-button large type="button" (click)="showConfirm('deleteSampleRow')">Delete</button> just do this from the sample list -->
      </div>
    </form>
  </div>
</ion-content>