<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sample List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <pre id="display"></pre>
  <ion-list>
    <button ion-item *ngFor="let sample of samples" (click)="editSample(sample.id)">
      <ion-icon name="beaker" item-left></ion-icon>
      {{sample.projectName}}, {{sample.siteName}}, {{sample.date}}
    </button>
  </ion-list>
  <div *ngIf="selectedSample" padding>
    You navigated here from <b>{{selectedSample.title}}</b>
  </div>
</ion-content>
