<ion-header>
  <ion-navbar>
    <ion-title>
      Sample
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="sampleForm" *ngIf="active" (ngSubmit)="onSubmit(sampleForm.value)">
    <ion-grid id="header" formGroupName="sampleHeaderControls">
      <ion-row>
        <ion-col width-50>
          <ion-label>Site Name</ion-label>
          <ion-item><ion-select formControlName="siteName">
            <ion-option *ngFor="let site of mySites" [value]="site.id" [selected]="false">{{site.name}}</ion-option>
          </ion-select></ion-item>
        </ion-col>
        <ion-col width-50>
          <ion-label>Site Number</ion-label>
          <ion-item><ion-select formControlName="siteNumber">
            <ion-option *ngFor="let site of mySites" [value]="site.id" [selected]="false">{{site.usgs_scode}}</ion-option>
          </ion-select></ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-50>
          <ion-label>Project Name</ion-label>
          <ion-item><ion-select formControlName="projectName">
            <ion-option *ngFor="let project of myProjects" [value]="project.id" [selected]="project.id == project_ID">{{project.name}}</ion-option>
          </ion-select></ion-item>
        </ion-col>
        <ion-col width-50>
          <ion-label>Project Number</ion-label>
          <ion-item><ion-select formControlName="projectNumber">
            <ion-option *ngFor="let project of myProjects" [value]="project.id" [selected]="project.id == project_ID">{{project.id}}</ion-option>
          </ion-select></ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-25>
          <ion-label>Date</ion-label>
          <ion-item><ion-input type="date" formControlName="sampleDate"></ion-input></ion-item>
        </ion-col>
        <ion-col width-25>
          <ion-label>Time</ion-label>
          <ion-item><ion-input type="time" formControlName="sampleTime"></ion-input></ion-item>
        </ion-col>
        <ion-col width-25>
          <ion-label>Depth</ion-label>
          <ion-item><ion-input type="number" formControlName="sampleDepth"></ion-input></ion-item>
        </ion-col>
        <ion-col width-25>
          <ion-label>Rep</ion-label>
          <ion-item><ion-input type="number" formControlName="sampleRep"></ion-input></ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid id="body" formGroupName="sampleBottleControls">
      <ion-row>
        <ion-col width-10>Container</ion-col>
        <ion-col width-10>Medium</ion-col>
        <ion-col width-10>Analysis</ion-col>
        <ion-col width-10>Filter</ion-col>
        <ion-col width-10>Filter Volume</ion-col>
        <ion-col width-10>Preservation</ion-col>
        <ion-col width-10>Acid</ion-col>
        <ion-col width-10>Acid Volume</ion-col>
        <ion-col width-10></ion-col>
        <ion-col width-10><div style="padding: 10px;"><button type="button" style="float: right;" (click)="addRow()"><ion-icon name="add-circle"></ion-icon></button></div></ion-col>
      </ion-row>
      <ion-row *ngFor="let sampleBottleControlsRow of sampleBottleControls.controls; let ndx = index" [formGroup]="sampleBottleControlsRow" style="border-style: solid;">{{ndx + 1}}
        <ion-col width-10>
          <ion-item width-10><ion-select formControlName="bottle">
            <ion-option *ngFor="let bottle of myBottles" [value]="bottle.id" [selected]="false">{{bottle.bottle_unique_name}}</ion-option>
          </ion-select></ion-item>
        </ion-col>
        <ion-col width-10>
          <ion-item><ion-select formControlName="medium">
            <ion-option *ngFor="let medium of myMediums" [value]="medium.id" [selected]="false">{{medium.nwis_code}}</ion-option>
          </ion-select></ion-item>
        </ion-col>
        <ion-col width-10>
          <ion-item><ion-select formControlName="analysis">
            <ion-option *ngFor="let analysis of myAnalyses" [value]="analysis.id" [selected]="false">{{analysis.analysis}}</ion-option>
          </ion-select></ion-item>
        </ion-col>
        <ion-col width-10>
          <ion-item><ion-select formControlName="filterType">
            <ion-option *ngFor="let filter of myFilters" [value]="filter.id" [selected]="false">{{filter.filter}}</ion-option>
          </ion-select></ion-item>
        </ion-col>
        <ion-col width-10>
          <ion-item><ion-input type="number" formControlName="filterVolume"></ion-input></ion-item>
        </ion-col>
        <ion-col width-10>
          <ion-item><ion-select formControlName="preservationType">
            <ion-option *ngFor="let preservation of myPreservations" [value]="preservation.id" [selected]="false">{{preservation.preservation}}</ion-option>
          </ion-select></ion-item>
        </ion-col>
        <ion-col width-10>
          <ion-item><ion-select formControlName="preservationAcid">
            <ion-option *ngFor="let acid of myAcids" [value]="acid.id" [selected]="false">{{acid.code}}</ion-option>
          </ion-select></ion-item>
        </ion-col>
        <ion-col width-10>
          <ion-item><ion-input type="number" formControlName="preservationVolume"></ion-input></ion-item>
        </ion-col>
        <ion-col width-10></ion-col>
        <ion-col width-10><div style="padding: 10px;"><button type="button" style="float: right;" (click)="removeRow(sampleBottleControlsRow)"><ion-icon name="remove-circle"></ion-icon></button></div></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid id="comments" formGroupName="sampleCommentControls">
      <ion-row>
        <ion-col width-100>
          <ion-label>Comments</ion-label>
          <ion-item><ion-input type="text" formControlName="sampleComment"></ion-input></ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div><button type="submit">Submit</button></div>
  </form>
</ion-content>
