<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="login-form">
    <div *ngIf="error">Username/Password combination invalid.</div>
    <div>
        <label for="username">Username</label>
        <input id="username" type="text" formControlName="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password">
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="!form.valid">Login</button>
    </div>
</form>