<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Site List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button type="button" (click)="addSite()">Add Site</button>
  <p>Site Count: {{siteCount}}</p>
  <p>Page {{currentPage}} of {{resultPages}}</p>
  <button type="button" (click)="prevPage()">Prev Page</button><button type="button" (click)="nextPage()">Next Page</button>
  <div [hidden]="!notready" align="left" id="loading-spinner"><ion-spinner></ion-spinner></div>
  <div [hidden]="notready">
    <ion-list>
      <button ion-item *ngFor="let site of sites" (click)="editSite(site.id)">
        <ion-icon name="pin" item-left></ion-icon>
        {{site.name}} <span *ngIf="site.usgs_scode">{{site.usgs_scode}}</span>
        <div class="item-note" item-right>
          {{site.description}}
        </div>
      </button>
    </ion-list>
    <div *ngIf="selectedSite" padding>
      You navigated here from <b>{{selectedSite.name}}</b>
    </div>
  </div>
  <button type="button" (click)="prevPage()">Prev Page</button><button type="button" (click)="nextPage()">Next Page</button>
</ion-content>
