<ion-header>
  <ion-navbar>
    <button ion-button large menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Site List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button style="float:right;margin-top:10px;margin-right:10px;" ion-button medium type="button" (click)="addSite()"><ion-icon name="add-circle"></ion-icon> &nbsp;Add Site</button>
  <h3 style="margin-left:10px;">{{siteCount}} Sites</h3>

  <div *ngIf="showPageButtons" style="padding:8px;width:100%;margin-top:30px;text-align:center;">
      <a (click)="prevPage()" class="sites-nav sites-nav-left">Prev Page</a>
      {{currentPage}} / {{resultPages}}
      <a (click)="nextPage()" class="sites-nav sites-nav-right">Next Page</a>      
  </div>

  <div [hidden]="!notready" align="left" id="loading-spinner"><ion-spinner></ion-spinner></div>
  <div [hidden]="notready">
    <ion-list>
      <button ion-item large *ngFor="let site of sites" (click)="editSite(site.name)">
        <ion-icon name="pin" item-left></ion-icon>
        {{site.name}} <span *ngIf="site.usgs_scode">{{site.usgs_scode}}</span>
        <div class="item-note" item-right>
          {{site.description}}
        </div>
      </button>
    </ion-list>
    <div *ngIf="selectedSite" padding>
      You navigated here from <b>{{selectedSite.name}}</b>
    </div>
  </div>

  <div *ngIf="showPageButtons" style="padding:8px; width:100%;margin-top:30px;text-align:center;">
      <a (click)="prevPage()" class="sites-nav sites-nav-left">Prev Page</a>
      {{currentPage}} / {{resultPages}}
      <a (click)="nextPage()" class="sites-nav sites-nav-right">Next Page</a>      
  </div>

</ion-content>
